.welcome-section {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 5% 0%;
}

.welcome-section > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  font-size: 5rem;
  text-align: center;
  padding: 5% 15%;
}
.welcome-section > p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: blue; */
  font-size: 1.5rem;
  padding: 5% 1rem;
}

.welcome-div-image-wrapper {
  min-height: 75vh;
  position: relative;
}

.overlap-1 {
  background-image: url(../images/welcome-page-overlap1.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 450px;
  position: absolute;
  left: 45%;

  top: 10%;
}
.overlap-2 {
  background-image: url(../images/welcome-page-overlap2.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 450px;
  position: absolute;
  left: 15%;
  z-index: -1;
}

.services-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
  padding: 0 25%;
}
.services-section > * {
  padding-top: 1rem;
}

.services-section > h3 {
  font-size: 5rem;
}
