.header {
  background-image: url("../public/images/Header2.PNG");
  background-color: black;
  background-size: cover;
  background-position: center;
}
.header-transparent-bg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking-button {
  background-color: white;
  color: black;
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 100px;
  height: 50px;
  box-shadow: 0 5px 10px black;
}
.booking-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
