.navbar-menu-container:hover .nav-ul {
  display: block;
  animation: fade-in 500ms forwards;
}

.nav-ul {
  margin-top: 50px;
  display: none;
  position: absolute;
  text-decoration: none;
  list-style-type: none;
  border: 1px solid black;
  left: 50;
  top: 0;
  background-color: white;
  font-size: 1rem;
  transition: visibility 500ms;
  transition: all 0.2s ease-in-out;
}

.nav-ul:hover {
  box-shadow: 0 5px 10px black;
}

.nav-ul > a {
  margin: 30px;
  margin-top: 50px;
}

.nav-item {
  text-align: center;
  padding: 12px;
  margin: 0;
  border: 1px solid transparent;
}
.nav-item:hover {
  color: white;
  background-color: black;
  border: 1px solid white;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
